{% extends "core/base.html" %}

{% block content %}
{% for europa in europas %}
<div class="banner-promo">
  <div class="img-banner-promo">
      <img src="{{europa.imagen.url}}" alt="">
  </div>
  <div class="contenido-banner-promo">
      <h1 class="titulo-banner-promo">{{europa.titulo}}</h1>
      <p class="parrafo-banner-promo">{{europa.descripcion}}</p>
  </div>
</div>

{% endfor %}

    <main id="main_index">
      <article id="h1_europa">
        <h1>Visita Europa</h1>
      </article>
      <h2 id="h2_itinerario_europa">Recorrido día x día</h2>

      <!-- INICIO DE ITINERARIO -->

      <article class="article" id="itinerario_europa">        
        <div id="londres_container">
          <div id="londres_img_container">
            <h2>Londres</h2>
          </div>
          <div id="londres_txt_container">
            <ol class="ol_europa" id="ol_londres">
              <li class="li_londres">Día 1: Londres - Llegada al aeropuerto y traslado al hotel en Londres.</li>
              <li class="li_londres">Día 2: Londres - Visita a lugares emblemáticos de Londres.</li>
              <li class="li_londres">Día 3: Londres - Día libre en Londres.</li>
              <li class="li_londres">Día 4: Londres - Dover - Calais - París - Viaje a París desde Londres.</li>
            </ol>
          </div>
        </div>
        <div id="paris_container">
          <div id="paris_img_container">
            <h2>Paris</h2>
          </div>
          <div id="paris_txt_container">
            <ol class="ol_europa" id="ol_paris">
              <li class="li_paris">Día 5: París - Recorrido por la Ciudad Luz.</li>
              <li class="li_paris">Día 6: París - Día libre en París.</li>
              <li class="li_paris">Día 7: París - Brujas - Bruselas - Viaje a Bruselas pasando por Brujas.</li>
            </ol>
          </div>
        </div>
        <div id="bru_ams_container">
          <div id="bru_ams_img_container">
            <h2>Bruselas - Amsterdam</h2>
          </div>
          <div id="bru_ams_txt_container">
            <ol class="ol_europa" id="ol_bru_ams">
              <li class="li_bru_ams">Día 8: Bruselas - Roterdam - La Haya - Amsterdam - Visita a Roterdam, La Haya y llegada a Ámsterdam.</li>
              <li class="li_bru_ams">Día 9: Amsterdam - Recorrido por Ámsterdam.</li>
              <li class="li_bru_ams">Día 10: Amsterdam - Berlín - Viaje a Berlín desde Ámsterdam.</li>
            </ol>
          </div>
        </div>
        <div id="ber_pra_buda_container">
          <div id="ber_pra_buda_img_container">
            <h2>Berlin - Praga - Budapest</h2>
          </div>
          <div id="ber_pra_buda_txt_container">
            <ol class="ol_europa" id="ol_ber_pra_buda">
              <li class="li_ber_pra_buda">Día 11: Berlín - Visita panorámica de Berlín.</li>
              <li class="li_ber_pra_buda">Día 12: Berlín - Dresden - Praga - Viaje a Praga pasando por Dresden.</li>
              <li class="li_ber_pra_buda">Día 13: Praga - Visita a la Ciudad Vieja de Praga.</li>
              <li class="li_ber_pra_buda">Día 14: Praga - Bratislava - Budapest - Viaje a Budapest pasando por Bratislava.</li>
              <li class="li_ber_pra_buda">Día 15: Budapest - Recorrido por Budapest.</li>
              <li class="li_ber_pra_buda">Día 16: Budapest - Viena - Viaje a Viena desde Budapest - Traslado desde el hotel al aeropuerto.</li>
            </ol>
          </div>
        </div>
      </article>
      <!-- MAPA DEL ITINERARIO -->
      <article id="map_europa">
        <div id="h2_mapa">
          <h2>Sigue tu recorrido</h2>
        </div>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1lOHRFIGLCbwB6O6wchWElnZtRewMdt8&ehbc=2E312F" width="640" height="480"></iframe>
      </article>
  
    </main>
    <script src="../js/script.js"></script>

{% endblock content %}