{% extends "core/base.html" %}
{% block title %}{% endblock title %}

{% block content %}
<body>
    <article class="h1_index" id="article_aboutus">
      <main id="h1_index">
        <h1>Sobre nosotros</h1>
      </main>
      <!-- INICIO QUE SOMOS?-->
      <article class="article_nosotros" id="article_aboutus">
        <div id="QueSomos_h2_container">
          <h2>¿Que es codo viajes?</h2>
        </div>
        <div id="QueSomos_p_container">
          <p>Somos Codo Viajes, una empresa de viajes y turismo que te ofrece las
            mejores opciones para que vivas experiencias inolvidables. Nuestro lema
            es viaja como loco, porque creemos que viajar es una forma de liberarse,
            de conocer otras culturas, de disfrutar de la naturaleza y de divertirse
            al máximo. <br /><br />
            Nuestra misión es brindarte un servicio personalizado, adaptado a tus
            gustos, preferencias y presupuesto. Te asesoramos en todo lo que
            necesites, desde la elección del destino, el alojamiento, el transporte,
            las actividades, los seguros y los trámites. Te acompañamos en cada
            etapa de tu viaje, desde la planificación hasta el regreso.</p>
        </div>
      </article>
      <!-- FIN QUE SOMOS?-->

      <!-- INICIO VISION-->
      <article class="article_nosotros" id="article_nosotros">
        
        <div id="Vision_p_container">
          <p>Apuntamos a ser la empresa líder en el sector de viajes y turismo,
            reconocida por su calidad, innovación y compromiso con el cliente.
            Queremos que nos elijas como tu agencia de confianza, que nos
            recomiendes a tus amigos y familiares, y que vuelvas a viajar con
            nosotros.
        </div>
        <div id="Vision_h2_container">
          <h2>Nuestra visión</h2>
        </div>
      </article>

        <!-- FIN VISION -->

        <!-- INCIO VALORES -->

          <article class="article_nosotros" id="article_nosotros">
            <div id="Valores_h2_container">
              <h2>Nuestros valores</h2>
            </div>
            <div id="Valores_p_container">  
              <P>
                <ol class="lista_valores" >
                  <li>
                    Pasión: amamos lo que hacemos y nos esforzamos por superarnos cada
                    día.
                  </li>
                  <li>
                    Responsabilidad: cumplimos con nuestras obligaciones y respetamos el
                    medio ambiente y las comunidades locales.
                  </li>
                  <li>
                    Creatividad: buscamos soluciones originales y alternativas para
                    satisfacer tus necesidades.
                  </li>
                  <li>
                    Honestidad: actuamos con transparencia y ética en todas nuestras
                    acciones.
                  </li>
                  <li>
                    Calidad: ofrecemos un servicio de excelencia, con atención al detalle
                    y seguimiento constante.
                  </li>
                </ol>
              </p>
            </div>

            
          </article >
          <article class="article_nosotros_fin" id="article_nosotros_fin">
            <div id="fin_h2_container_unico">
              <h2>
                ¿Qué esperas para empezar a viajar? 
              </h2>
            </div>
          </article>
          <article class="article_nosotros_fin" id="article_nosotros_fin">
            
            <div id="fin_h2_container"> 
              <h2>
                Contáctanos hoy mismo y déjanos ayudarte a cumplir tus sueños. Codo Viaje, tu mejor opción para viajar
              </h2>
            </div>
          </article>
    </article>
    <!-- FIN VALORES -->
  </body>
{% endblock content %}